body {
    font-family: Arial, sans-serif;
}

.navbar {
    margin-bottom: 20px;
}

.nav-item {
    padding-left: 30px;
}

.collapse {
    margin-left: 80px;
}

.container {
    margin-top: 20px;
}

#question1 {
    background-color: hsl(0, 9%, 98%);
}

.controls {
    display: flex;
}

.chart {
    height: 500px;
}

#product-sales-chart {
    padding-top: 10px;
    height: 650px; /* Adjust height as needed */
    margin-bottom: 10px;
   
}

#productSalesChart {
    width: 100%;
    height: 100%;
    
}

.radio-buttons {
    margin-bottom: 10px;
}

#topProduct, #lossProduct {
    margin-top: 0;
    padding-right: 10px;
}
#topProduct {
    
    padding-bottom: 10px;
}

#topProduct h3, #lossProduct h3 {
    font-size: 1.2em; /* Make the header font size smaller */
    color: grey;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    font-size: 12px; /* Adjust font size as needed */
}

th, td {
    border: 1px solid #ddd;
    padding: 12px;
    color: grey;
}

th {
    background-color: #f2f2f2;
    text-align: left;
}


#stacked-bar-chart {
    padding-top: 10px;
    height: 650px; /* Adjust height as needed */
    margin-bottom: 10px;
}

#stackedBarChart {
    width: 100%;
    height: 100%;
}



canvas {
    width: 100%;
    height: 450px;
}

/* #select1 {
    margin: 10px;
    width:30%;
    display: flex;
    padding-right: 150px;
} */

#region-select {
    padding-right: 10px;
}

#heat-map-container {
    width: 100%; /* Full width when displayed */
}

.control-container {
    position: absolute;
    top: 10px;
    right: 10px;
    z-index: 1000;
    background: white;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 15px rgba(0,0,0,0.2);
}
#map { 
    height: 500px;
    width: 100%;
}
.leaflet-pane .leaflet-map-pane {
    height: 500px;
    width: 600px;
}

.leaflet-control-container {
    height: 500px;
    width: 600px;;
}

.radio-buttons {
    display: flex;
    justify-content: space-around;
    margin: auto;
}

.big-map {
    display: flex; /* Flex container */
    justify-content: space-between;
    gap: 10px; /* Optional: Add some space between the two containers */
}

#map-container {
    flex: 1; /* Takes up remaining space */
    height: 500px;
}

#pie-container {
    flex: 1; /* Takes up remaining space */
    height: 500px;
}
.map-container-main {
    height: 500px;
    width:500%;
    position: relative;
}
#heat-map-container-main {
    height: 500px;
    width: 500px;
    position: absolute;
}
.col.py-3{
    
    max-height: 720px;
}
.gg-container{
    display: table;
  width: 100%;
  height: 720px;
  background-color: rgb(250, 248, 248);
  
  /*height: 100%; */
  /*min-height: 100%;*/
    max-height: 960px;
}
/* div#question1{
    max-height: 720px;
    max-width: 720px;
} */
.legend-container {
    width: 200px;
    padding: 10px;
    background-color: white;
    border: 1px solid #ccc;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.legend-container div{
 padding-top: 10px;
}
.legend h4 {
    margin: 0 0 10px;
    font-size: 14px;
}

.legend-color {
    display: inline-block;
    margin: auto;
    width: 20px;
    height: 20px;
    margin-right: 5px;
    vertical-align: middle;
}

.legend-color.male {
    background-color: #1064b3;
    
}

.legend-color.female {
    background-color: #b94496;
}


.sidenav {
    height: 100%;
    width: 140px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  .sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 16px;
    color: #818181;
    display: block;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }
  .container {
    margin: auto;
    
  }

.gg1 h2{
    text-align: center;
    color: white;
}

.gg1 p{
    text-align: center;
    margin: auto;
    color:white;
    font-size: 16px;
}

.gg2{
    height: 550px;
    
}
div.gigi1 {
    align-items: center;
    margin: auto;
    
}

div#gigi{
    width: 620px; 
   margin-left: 400px;
}


.gg1{
    width: 340px;
    margin: auto;
}



.gg h1{
    text-align: center;
    color: rgb(8, 8, 8);
    
  }

  .navbar .container h1{
    margin: auto;
  }
  .navbar .dropdownCol{
    display: flex;
  }
  .nav-item{
    padding-left: 0;
  }
.flex-container {
    display: flex; /* Flex container */
    justify-content: space-between;
    gap: 10px; 
}
div#willy.chart{
    width: 100%;
}


#will {
    flex: 1; /* Takes up remaining space */
    height: 500px;
    
}

div#suad.chart{
    width: 100%;
}


#suad {
    flex: 1; /* Takes up remaining space */
    height: 500px;
    
}

div#yearSelector{
    display: flex;
    color:white;
}

div#boxPlotYearSelector{
    display: flex;
    color:white;
}


div.col-md-6{
    height: 650px;
}

  /* Harshh's */

div.harshh{
    width: 100%;
}
div#harshh-input{
    padding-top: 20px;
    width: 450px;
}

#suggestions {
    border: 1px solid #151b53;
    max-height: 150px;
    overflow-y: auto;
    position: absolute;
    background-color: rgb(219, 135, 219);
    z-index: 1000;
}

#suggestions div {
    padding: 10px;
    cursor: pointer;
}

#suggestions div:hover {
    background-color: #8d8888;
}

@media (max-width: 768px) {
    /* Adjust styles for smaller screens */
    .radio-buttons {
        flex-direction: column;
        align-items: flex-start;
    }

    .big-map {
        flex-direction: column; /* Stack vertically on smaller screens */
    }
    .container{
        width: 100%;
    }
    #map-container, #pie-container {
        width: 100%; /* Full width on smaller screens */
    }
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
    .row {
        flex-direction: column;
        align-items: flex-start;
    }
    .leaflet-pane .leaflet-map-pane {
        
        width: 100%;
    }
    
    .leaflet-control-container {
       
        width: 100%;;
    }
    
}
